/* First Section */

body {
    font-family: 'Nunito', sans-serif;
    line-height: 1.5;
}

.bluegradient {
    min-height: 150px;
    position: relative;
    background: linear-gradient(270deg, #2b90d9, #9baec8);
    background-size: 400% 400%;
    -webkit-animation: gradientanim 30s ease infinite;
    animation: gradientanim 30s ease infinite;
}

@keyframes gradientanim {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* @-webkit-keyframes gradientanim {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
} */

h1 {
    margin: 0;
    margin-top: 4em;
}

h1,
h2,
p {
    text-align: center;
}

.profpic {
    max-width: 200px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 100px;
}

#socialmedia ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

#socialmedia ul li {
    display: inline;
    padding: 1em;
}

#socialmedia ul li img {
    width: 45px;
    margin-top: 1em;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.fp-tableCell {
    vertical-align: top;
}

dl {
    padding: 0, 1em, 1em, 1em;
    margin-top: 0;
    text-align: center;
}

dt {
    font-size: 1.2em;
}

dd {
    margin-left: 1em;
}

dd + dt {
    margin-top: 1em;
}
